---
import {instalaciones} from '../../data/instalaciones';
import { instalaciones2 } from '../../data/instalaciones2';
import Carruselinstalaciones from "../Carruselinstalaciones.astro";
import HeroSection from './HeroSection.astro';


const carruselinstalaciones = [...instalaciones, ...instalaciones];
const {id} = Astro.props
---

<section id={id} class="pt-32">
        <div class="text-center mb-16">
        
            <h3 class="text-indigo-950  text-6xl font-semibold">
                Nuestros <span class="font-light text-indigo-950">Trabajos</span>
            </h3>

        </div>

        <!--primer carrusel -->
        <article class="overflow-hidden">
            <div class="flex animate-scroll">
            {
                instalaciones.map((instalacion)=> (
                    <Carruselinstalaciones instalacion ={instalacion}/>
                ))
            }
            </div>
        </article>

        <!--segundo carrusel--->
        <article class="Carrusel-2 overflow-hidden">
            <div class="flex animate-scroll">
            {
                instalaciones2.map((instalacion)=> (
                    <Carruselinstalaciones instalacion ={instalacion}/>
                ))
            }
            </div>
        </article>

</section>
<style>
    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-760px * 5 - 0.5rem * 10));

        }
    }
    .animate-scroll{
        animation: scroll 20s linear infinite alternate-reverse;
    }
    .animate-scroll:hover{
        animation-play-state: paused;
    }


@keyframes scroll-2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-800px * 3 - 0.5rem * 6)); /* Distancia menor (3 elementos) */
    }
}

.Carrusel-2 .animate-scroll {
    animation: scroll 22s linear infinite alternate-reverse; /* Cambié la duración para hacerlo más lento */
}

    .Carrusel-2 .animate-scroll:hover{
        animation-play-state: paused;
    }
</style>

